<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preamble" data-toc-modified-id="Preamble-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preamble</a></span></li><li><span><a href="#Phase-Exinds" data-toc-modified-id="Phase-Exinds-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Phase Exinds</a></span></li><li><span><a href="#Exinds-for-Each-Phase-of-the-MJO" data-toc-modified-id="Exinds-for-Each-Phase-of-the-MJO-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exinds for Each Phase of the MJO</a></span></li><li><span><a href="#Pickle-1" data-toc-modified-id="Pickle-1-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Pickle 1</a></span></li><li><span><a href="#ENSO-Phases" data-toc-modified-id="ENSO-Phases-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ENSO Phases</a></span></li><li><span><a href="#ENSO-Pase-Exinds" data-toc-modified-id="ENSO-Pase-Exinds-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>ENSO Pase Exinds</a></span></li></ul></div>

# Preamble

In [118]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob
import pickle

In [146]:
import warnings
warnings.filterwarnings("ignore")

In [119]:
path_2 = '/home/student.unimelb.edu.au/aborowiak/Desktop/Code/Current Project/Stations/MJO/MJO_df.pickle'
pickle_in_2 = open(path_2, 'rb')
MJO_df = pickle.load(pickle_in_2)

In [120]:
path = '/home/student.unimelb.edu.au/aborowiak/Desktop/Code/Current Project/Stations/Station_Daily_Rainfall_Data.pickle'
pickle_in = open(path, 'rb')
daily_rainfall_dict = pickle.load(pickle_in)

In [121]:
path = '/home/student.unimelb.edu.au/aborowiak/Desktop/Code/Current Project/Stations/MJO/RMM.pickle'
pickle_in = open(path, 'rb')
RMM = pickle.load(pickle_in)

# Phase Exinds

In [90]:
#Dictionary to store the collrections of the Two 
Rain_RMM_dict = {}


#Only want the MJO stations
current_stations = MJO_df.index


for station in current_stations:
    
    #Extracxting the raindata for an individual station
    rain_data = daily_rainfall_dict[station]
    
    #Getting the correct years for the period of study
    rain_data = rain_data.loc['1974-06-01':'2017']
    
    #Removing all the incorrect points
    rain_data = rain_data[rain_data["Rainfall (mm)"] < 8000]
    
    #Extracting only the days that are >1mm (Rainday)
    rain_data = rain_data[rain_data["Rainfall (mm)"] > 1]
    
    '''Combinging'''
    # Removing the bad points from the RMM
    RMM = RMM[RMM['Phase'] < 10]
    RMM = RMM[RMM['Amplitude'] < 10]
    
    
    #Making the RMM the same dates as the rain_data
    RMM_adjust = RMM[RMM.index.isin(rain_data.index)]
    
    
    Rain_RMM = pd.concat([rain_data, RMM_adjust], axis  = 1)
    
    
    Rain_RMM_dict[station] = Rain_RMM

# Exinds for Each Phase of the MJO

In [91]:
Rain_RMM_dict['4006'].head()

            Rainfall (mm)  Phase  Amplitude
Date
1974-07-29            5.0    4.0   0.796503
1975-01-09            3.0    4.0   1.411470
1975-01-10            3.0    5.0   1.382450
1975-01-30           12.0    8.0   2.389140
1975-02-01           34.0    1.0   2.026280

In [92]:
data = Rain_RMM_dict[station].groupby('Phase')['Rainfall (mm)'].size()
data

Phase
1.0    211
2.0    209
3.0    225
4.0    285
5.0    219
6.0    252
7.0    221
8.0    203
Name: Rainfall (mm), dtype: int64

In [93]:
data[2]

209

In [96]:
#Some DF's to store the results in:
Freq_df  = pd.DataFrame()
Int_df = pd.DataFrame()

current_stations = list(Rain_RMM_dict.keys())


for station in current_stations:
    'Frequency'
    
    phase_freqs = Rain_RMM_dict[station].groupby('Phase')['Rainfall (mm)'].size()
    
    Freq_df[station] = phase_freqs
    
    'Average Intensity'
    phase_ints = Rain_RMM_dict[station].groupby('Phase')['Rainfall (mm)'].mean()
    
    Int_df[station] = phase_ints

    
"Adjusting the INdex to be Phases of MJO"
mjo_phases = np.arange(1,9)

Freq_df['Phase'] = mjo_phases
Freq_df = Freq_df.set_index("Phase")

Int_df['Phase'] = mjo_phases
Int_df = Int_df.set_index("Phase")

In [97]:
Freq_df

,5004,5008,5014,4006,3028,3030,3024,3017,3027,2009,...,29048,37001,37049,36028,28004,31055,31011,32040,33073,39049
Phase,,,,,,,,,,,,,,,,,,,,,
1,112,86,95,100,74,97,115,178,138,168,...,167,126,120,108,257,693,608,228,158,211
2,78,76,95,143,110,130,191,265,185,226,...,196,142,143,118,287,772,656,298,200,209
3,68,92,132,196,141,155,210,284,223,277,...,223,184,155,128,310,723,638,324,206,225
4,89,114,145,169,139,161,204,302,234,299,...,228,171,166,155,360,751,675,333,246,285
5,125,140,144,182,201,234,278,357,281,313,...,264,169,170,148,407,707,627,355,252,219
6,96,145,153,172,208,228,289,334,286,356,...,299,166,172,141,468,675,597,345,278,252
7,101,120,153,162,168,207,246,312,258,330,...,307,167,169,148,487,652,602,354,291,221
8,69,73,100,128,113,147,183,257,175,235,...,204,155,132,115,339,542,480,281,229,203

# Pickle 1

In [109]:
MJO_normal_rain_dict = {'Frequency': Freq_df, 'Intensity (mm)': Int_df}

In [110]:
out_file = open('MJO_normal_rain_dict.pickle','wb')
pickle.dump(MJO_normal_rain_dict, out_file)
out_file.close()

# ENSO Phases

In [122]:
path = '/home/student.unimelb.edu.au/aborowiak/Desktop/Code/Current Project/Stations/ENSO/NINO34_wet_s.pickle'
pickle_in = open(path, 'rb')
NINO34_wet_s = pickle.load(pickle_in)

In [139]:
'''This code hear finds if Nino34 is above or below 0, a new column is created with a 1 if the wet season
is an El Nino event or -1 for La Nina'''

NINO_value = NINO34_wet_s.copy(deep = True)

NINO_value['Nino Value'] = np.where(NINO_value['Nino34'] > 0, 1, -1)

In [140]:
NINO_value.head()

        Nino34  Nino Value
Year
1871 -0.510000          -1
1872 -0.951667          -1
1873 -0.940000          -1
1874 -0.898333          -1
1875 -0.916667          -1

In [160]:
'''Dictionary'''

MJO_ENSO_normal_rain_dict = {}


current_stations = list(Rain_RMM_dict.keys())

for station in current_stations:
    RMM_rain = Rain_RMM_dict[station]
    
    '''ENSO years for EL Nino and La Nina'''
    #Finding the yers 
    
    El_nino = NINO_value[NINO_value['Nino Value'] == 1]
    El_nino_years = El_nino.index
    
    
    La_nina = NINO_value[NINO_value['Nino Value'] == -1]
    La_nina_years = La_nina.index
    
    #Creating two new DF's, one for EL Nino and one for La Nina, where there are only values that occured 
    #during years that where in El Nino or La Nina. A new column is created in the same style as above, 
    # where a 1 indicates an El Nino event occured durint that time, and -1 for La Nina.
    
    
    
    RMM_nino_rain = RMM_rain[RMM_rain.index.year.isin(El_nino_years)]
    RMM_nino_rain['Nino Value'] = np.tile([1], len(RMM_nino_rain))

    
    
    RMM_nina_rain = RMM_rain[RMM_rain.index.year.isin(La_nina_years)]
    RMM_nina_rain['Nino Value'] = np.tile([-1], len(RMM_nina_rain))
    
    
    '''Merging the two back together and then sorting them via dates (index)'''
    
    #Concatenating
    RMM_ENSO_rain = pd.concat([RMM_nino_rain,RMM_nina_rain], axis = 0)
    
    #Sorting
    RMM_ENSO_rain = RMM_ENSO_rain.sort_index()
    
    
    
    #Dictionary
    
    MJO_ENSO_normal_rain_dict[station] = RMM_ENSO_rain

In [164]:
MJO_ENSO_normal_rain_dict['2009'].head()

            Rainfall (mm)  Phase  Amplitude  Nino Value
Date
1974-09-06           15.0    2.0    1.53587          -1
1974-09-07            1.8    2.0    1.70636          -1
1974-09-08            8.4    2.0    1.52284          -1
1974-09-09            4.0    2.0    1.27185          -1
1974-09-30            2.0    3.0    1.04540          -1

# ENSO Pase Exinds

In [ ]:
NINO_df_int = pd.DataFrame()
NINA_df_int = pd.DataFrame()


grouped_data_int = rain_data.groupby(['Phase', 'Nino Value']).mean()

# EL Nino
Nino_vals_int = grouped_data_int.loc[:,1]
NINO_df_int[station] = Nino_vals_int


#La Nina
Nina_vals_int = grouped_data_int.loc[:,-1]
NINA_df_int[station] = Nina_vals_int

In [279]:
pd.DataFrame(grouped_data_freq).groupby('Nino Value')

In [285]:
grouped_data_int

                  Rainfall (mm)  Amplitude
Phase Nino Value
1.0   -1              12.148571   1.215297
       1              15.550000   1.429394
2.0   -1              14.212245   1.330464
       1               7.124138   1.436551
3.0   -1              10.648837   1.279220
       1              11.692000   1.160115
4.0   -1               9.724000   1.177039
       1              15.030769   1.281099
5.0   -1              11.773750   1.357541
       1               9.944444   1.563479
6.0   -1              18.562264   1.172585
       1              17.655814   1.452472
7.0   -1              14.872727   1.179980
       1              16.874286   1.369216
8.0   -1              12.363830   1.355446
       1               7.668182   1.578548

In [282]:
grouped_data_int[grouped_data_int['Nino Value'] == 1]

KeyError: 'Nino Value'

In [257]:
MJO_stations = list(MJO_ENSO_normal_rain_dict.keys())

#DataFrame

NINO_df_freq = pd.DataFrame()
NINA_df_freq = pd.DataFrame()


NINO_df_int = pd.DataFrame()
NINA_df_int = pd.DataFrame()


for station in MJO_stations:
    
    #Extracting the Data
    rain_data = MJO_ENSO_normal_rain_dict[station]
    
    '''Frequency'''
    grouped_data_freq = rain_data.groupby(['Phase', 'Nino Value']).size()
    
    # EL Nino
    Nino_vals_freq = grouped_data_freq.loc[:,1]
    NINO_df_freq[station] = Nino_vals_freq
    
    
    #La Nina
    Nina_vals_freq = grouped_data_freq.loc[:,-1]
    NINA_df_freq[station] = Nina_vals_freq
    
    '''Intensity'''

    grouped_data_int = rain_data.groupby(['Phase', 'Nino Value']).mean()

    # EL Nino
    Nino_vals_int = grouped_data_int.loc[:,1]
    NINO_df_int[station] = Nino_vals_int


    #La Nina
    Nina_vals_int = grouped_data_int.loc[:,-1]
    NINA_df_int[station] = Nina_vals_int

    
    
'''Concatinating into A DataFrame'''
#Frequency
MJO_ENSO_normal_freq = pd.DataFrame()

MJO_ENSO_normal_freq = pd.concat({'El Nino': NINO_df_freq, 'La Nina':NINA_df_freq}, axis = 1)


#Intensity

MJO_ENSO_normal_int = pd.DataFrame()

MJO_ENSO_normal_int = pd.concat({'El Nino': NINO_df_int, 'La Nina':NINA_df_int}, axis = 1)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [256]:
'''Dictionary'''

MJO_ENSO_normal = {'Frequency':MJO_ENSO_normal_freq, 'Intensity (mm)': MJO_ENSO_normal_int}

NameError: name 'MJO_ENSO_normal_int' is not defined